@{
    ViewBag.Title = "Contact Us";
}
<main class="site-main" id="contact-page">
    <div class="page-section">
        <div class="container">
            <h1>Contact Us</h1>
            <p>In a journey of 15 years, Aegis has grown as an organization and as an offshore consulting partner to many business developments. Teams of IT professionals backed with an infrastructure to support our services and solutions.</p>
        </div>
        <div class="slider-img"><img data-src="../images/banner/contac-bg.jpg" class="lazyload" alt="banner" /></div>
    </div>

    <div class="contact-section spt-70 spb-70" id="one">
        <div class="container">
            <div class="bs-row">
                <div class="col-6 col-md-12">
                    <div class="contact-info">
                        <h2>CONTACT INFO</h2>
                        <div class="get-box">
                            <div class="icon">
                                <img class="mail-png" src="../images/banner/mail.png" />
                                @*<i class="flaticon-mail"></i>*@
                                <div class="text">
                                    <h3>Email Us:</h3>
                                    <a href="#"><span class="__cf_email__" data-cfemail="a2cbccc4cde2c3c7c5cbd1d1cdc4d6d6c7c1ca8cc1cdcf">hr@aegissofttech.com</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="get-box">
                            <div class="icon">
                                <img class="call-png" src="../images/banner/call.png" />
                                @*<i class="flaticon-call-answer"></i>*@
                                <div class="text">
                                    <h3>Call Us (Toll Free):</h3>
                                    <a href="tel:+16469710799">+1800 889 7020</a>
                                </div>
                            </div>
                        </div>
                        <div class="get-box">
                            <div class="icon">
                                <img class="clock-png" src="../images/banner/clock.png" />
                                @*<i class="flaticon-watch"></i>*@
                                <div class="text">
                                    <h3>Work Hours</h3>
                                    <p>Mon - Fri 10:00-08:00</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-12">
                    <div class="contact-form">
                        <h2>LEAVE MESSAGE</h2>
                        <form>
                            <div class="bs-row">
                                <div class="col-6 col-md-12">
                                    <div class="form-group">
                                        <input class="form-control" id="contactfname" type="text" name="fname" placeholder="First Name">
                                        <label id="label_error_Fname" class="errorMessage" style="display:none;">First Name is required</label>
                                    </div>
                                </div>
                                <div class="col-6 col-md-12">
                                    <div class="form-group">
                                        <input class="form-control" id="contactlname" type="text" name="lname" placeholder="Last Name">
                                        <label id="label_error_Lname" class="errorMessage" style="display:none;">Last Name is required</label>
                                    </div>
                                </div>
                            </div>
                            <div class="bs-row">
                                <div class="col-6 col-md-12">
                                    <div class="form-group">
                                        <input class="form-control" id="contactemail" type="text" name="email" placeholder="Email Name">
                                        <label id="label_error_Ename" class="errorMessage" style="display:none;">Email Name is required</label>
                                        <label id="label_error_EmailFormat" class="errorMessage" style="display:none;">Email Name is not Valid</label>
                                    </div>
                                </div>
                                <div class="col-6 col-md-12">
                                    <div class="form-group">
                                        <input class="form-control" id="contactsubject" type="text" name="subject" placeholder="Subject Name">
                                        <label id="label_error_Sname" class="errorMessage" style="display:none;">Subject Name is required</label>
                                    </div>
                                </div>
                            </div>
                            <div class="bs-row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <textarea class="form-control" cols="4" rows="5" id="contactcomments" placeholder="Comments" type="text"></textarea>
                                        <label id="label_error_Comments" class="errorMessage" style="display:none;">Comments is required</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="submit-btn">
                                        <button type="button" id="btnContactSubmit" value="Submit" name="Submit" class="btn_default">Send Message</button>
                                    </div>
                                </div>
                                <div class="col-12" style="padding: 10px">
                                    <span id="lblContactInfo" style="color: red;"> </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-section-box spb-70">
            <div class="container">
                <div class="section-header-1">
                    <h3>Come Say Hello To Us...</h3>
                </div>
                <div class="bs-row">

                    <div class="col-4 col-sm-12 col-md-12">
                        <div class="apache-bigdata-features">
                            <span class="sprite map2"></span>
                            <h3 class="border-green">Head Office / Development Centre</h3>
                            <p>"Royal Square", 1st Floor, Off No. 110, Nr. Shilp Tower, Tagore Road, Rajkot - 360 001, Gujarat - India</p>
                            <p><a href="#"><span class="__cf_email__" data-cfemail="09617a49686c6e607a7a666f7d7d6c6a61276a6664">hr@aegissofttech.com</span></a></p>
                        </div>
                    </div>

                    <div class="col-4 col-sm-12 col-md-12">
                        <div class="apache-bigdata-features">
                            <span class="sprite map2"></span>
                            <h3 class="border-orage">Development Centre</h3>
                            <p>618 GALA EMPIRE, Opp. Durdarshan Tower, Drivein Road, Ahmedabad - 380 054, Gujarat - India</p>
                            <p><a href="#"><span class="__cf_email__" data-cfemail="e1888f878ea18084868892928e879595848289cf828e8c">hr@aegissofttech.com</span></a></p>
                        </div>
                    </div>
                    <div class="col-4 col-sm-12 col-md-12">
                        <div class="apache-bigdata-features">
                            <span class="sprite map1"></span>
                            <h3 class="border-water">Australia Office</h3>
                            <p>Level 32, 152 St Georges Tce, 6000 Perth, Western Australia</p>
                            <p><a href="3"><span class="__cf_email__" data-cfemail="cda5be8daca8aaa4bebea2abb9b9a8aea5e3aea2a0">hr@aegissofttech.com</span></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    $(".contact-form").on("click", "#btnContactSubmit", function () {
        var fname = $(".contact-form").find("#contactfname").val();
        var lname = $(".contact-form").find("#contactlname").val();
        var email = $(".contact-form").find("#contactemail").val();
        var subject = $(".contact-form").find("#contactsubject").val();
        var comment = $(".contact-form").find("#contactcomments").val();

        var IsError = false;

        if (fname == null || fname == "") {
            IsError = true;
            $(".contact-form").find("#label_error_Fname").show();
        }

        if (lname == null || lname == "") {
            IsError = true;
            $(".contact-form").find("#label_error_Lname").show();
        }

        if (email == null || email == "") {
            IsError = true;
            $(".contact-form").find("#label_error_Ename").show();
        } else if (!EmailValidation(email)) {
            IsError = true;
            $(".contact-form").find("#label_error_EmailFormat").show();
        }

        if (subject == null || subject == "") {
            IsError = true;
            $(".contact-form").find("#label_error_Sname").show();
        }

        if (comment == null || comment == "") {
            IsError = true;
            $(".contact-form").find("#label_error_Comments").show();
        }

        if (IsError == true) {
            return false;
        } else {
            $.ajax({
                type: "POST",
                url: '@Url.Action("SendMail", "Home")',
                data: {
                    Fname: fname,
                    Lname: lname,
                    Ename: email,
                    Subject: subject,
                    Comment: comment
                },
                success: function (result) {
                    if (result == "Success") {
                        $(".contact-form").find("#contactfname").val("");
                        $(".contact-form").find("#contactlname").val("");
                        $(".contact-form").find("#contactemail").val("");
                        $(".contact-form").find("#contactsubject").val("");
                        $(".contact-form").find("#contactcomments").val("");

                        $("#alert_inquiry_success").html("Massage genrated successfully");
                        $("#alert_inquiry_success").show();
                        setTimeout(function () { $("#alert_inquiry_success").hide(); }, 2000);
                    }
                    else {
                        $(".contact-form").find("#name").val("");
                        $(".contact-form").find("#email").val("");
                        $(".contact-form").find("#mobile").val("");
                        $(".contact-form").find("#description").val("");

                        $("#alert_inquiry_error").html("Error, Please try again after some time.");
                        $("#alert_inquiry_error").show();
                        $(".closeInquiry").click();
                        setTimeout(function () { $("#alert_inquiry_error").hide(); }, 2000);
                    }
                }
            });
        }
    });
</script>