################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CONSTRUCTION
/packages
/CONSTRUCTION/bin
/CONSTRUCTION/obj/Debug
