@model CONSTRUCTION.Models.ApplyJobViewModel

@{
        Layout = null;
}
<div class="educationDatas col-12 row">
        <div class="col-4 col-sm-12">
                <div class="form-group">
                        <div class="select-box">
                                <select class="form-control" id="degree">
                                        @foreach (var item in Model.drpDegree)
                                        {
                                                <option value="@item.Value">@item.Text</option>

                                        }
                                </select>
                        </div>
                </div>
        </div>
        <div class="col-4 col-sm-12">
                <div class="form-group">
                        <input type="text" class="form-control" placeholder="College/University" id="collage">
                </div>
        </div>
        <div class="col-4 col-sm-12">
            <div class="form-group">

                <input type="number" class="form-control" placeholder="Year of Passing" id="year" min="0">
                <label id="label_error_Year" class="errorMessage" style="display:none;">Enter Valid value</label>


            </div>
        </div>
</div>