@model CONSTRUCTION.Models.ApplyJobViewModel

@{
    Layout = null;
}
<div class="educationDatas col-12 row">
    <div class="col-4 col-sm-12">
        <div class="form-group">
            <div class="select-box">
                <select class="form-control" id="degree">
                    @foreach (var item in Model.drpDegree)
                    {
                        <option value="@item.Value">@item.Text</option>

                    }
                </select>
            </div>
        </div>
    </div>
    <div class="col-4 col-sm-12">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="College/University" id="collage">
        </div>
    </div>
    <div class="col-4 col-sm-12">
        <div class="form-group">
            <div class="select-box">
                <select class="form-control" id="year">
                    <option value="0">Year of Passing </option>
                    <option value="2021">2021</option>
                    <option value="2020">2020</option>
                    <option value="2019">2019</option>
                    <option value="2018">2018</option>
                </select>
            </div>
        </div>
    </div>
</div>