
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Template/css/style.css" rel="stylesheet" />
<link href="~/Template/css/responsive.css" rel="stylesheet" />
<!-- header Section -->
<section class="about_main heading_section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="head-title text-center">
                    <div class="inner-box">
                        <h1>About Aegis</h1>
                        <h5 class="f24">Right Opportunity to the Right Candidate</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- why aegis -->
<section class="why_aegis pt-3 pb-3 titan job-site">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-header text-center">
                    <h2>We're not your typical job site.</h2>
                    <p>We offers complete job posting services to ensure that your opportunities are seen by qualified candidates. Thousands of new candidates register every week, allowing you to reach the right candidates quickly and affordably. We offers complete job posting services to ensure that your opportunities are seen by qualified candidates. Thousands of new candidates register every week, allowing you to reach the right candidates quickly and affordably.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 col-sm-12 col-lg-4">
                <div class="inner-box">
                    <div class="img-box">
                        <img class="lazyload" src="~/Template/images/thumb/why-aegis/1.png" alt="Why Us" />
                    </div>
                    <div class="overlay">
                        <h4>Platform to help you grow</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has the industry's standard dummy text ever since 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
            </div>
            <div class="col-4 col-sm-12 col-lg-4">
                <div class="inner-box">
                    <div class="img-box">
                        <img class="lazyload" src="~/Template/images/thumb/why-aegis/2.png" alt="Why Us" />
                    </div>
                    <div class="overlay">
                        <h4>We build your career in smart way</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has the industry's standard dummy text ever since 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
            </div>
            <div class="col-4 col-sm-12 col-lg-4">
                <div class="inner-box">
                    <div class="img-box">
                        <img class="lazyload" src="~/Template/images/thumb/why-aegis/3.png" alt="Why Us" />
                    </div>
                    <div class="overlay">
                        <h4>Bundle of talent in one place</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has the industry's standard dummy text ever since 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- explore -->
<section class="explore about-sidebyside">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 col-sm-12">
                <div class="bg-img1"></div>
            </div>
            <div class="col-6 col-sm-12">
                <div class="inner-box">
                    <div class="section-header text-center">
                        <h2>High Tech, Human Touch</h2>
                    </div>
                    <div class="content text-center">
                        <p>What’s destination next? Is it better technology? A better you? Or a better community of makers? Wherever you desire to go, we give you the tools, the techniques, and the teams to navigate the journey. So you’re inspired to build what’s next, ensure your career never stands still, & navigate further together. Take the world with you.</p>
                        <p>What’s destination next? Is it better technology? A better you? Or a better community of makers? Wherever you desire to go, we give you the tools, the techniques, and the teams to navigate the journey. So you’re inspired to build what’s next, ensure your career never stands still, & navigate further together. Take the world with you.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-revs">
            <div class="col-6 col-sm-12">
                <div class="inner-box">
                    <div class="section-header text-center">
                        <h2>Platform that works for you in any setuation</h2>
                    </div>
                    <div class="content text-center">
                        <p>What’s destination next? Is it better technology? A better you? Or a better community of makers? Wherever you desire to go, we give you the tools, the techniques, and the teams to navigate the journey. So you’re inspired to build what’s next, ensure your career never stands still, & navigate further together. Take the world with you.</p>
                        <p>What’s destination next? Is it better technology? A better you? Or a better community of makers? Wherever you desire to go, we give you the tools, the techniques, and the teams to navigate the journey.</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-12">
                <div class="bg-img2"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-sm-12">
                <div class="bg-img3"></div>
            </div>
            <div class="col-6 col-sm-12">
                <div class="inner-box">
                    <div class="section-header text-center">
                        <h2>You are more than your resume</h2>
                    </div>
                    <div class="content text-center">
                        <p>What’s destination next? Is it better technology? A better you? Or a better community of makers? Wherever you desire to go, we give you the tools, the techniques, and the teams to navigate the journey. So you’re inspired to build what’s next, ensure your career never stands still, & navigate further together. Take the world with you.</p>
                        <p>What’s destination next? Is it better technology? A better you? Or a better community of makers? Wherever you desire to go, we give you the tools, the techniques, and the teams to navigate the journey. So you’re inspired to build what’s next, ensure your career never stands still, & navigate further together. Take the world with you.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- our_pepole -->
<section class="our_pepole pt-3 pb-3 titan">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-header text-center">
                    <h2>Our People</h2>
                    <p>We offers complete job posting services to ensure that your opportunities are seen by qualified candidates. Thousands of new candidates register every week, allowing you to reach the right candidates quickly and affordably.</p>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12">
                <div class="team-list">
                    <ul>
                        <li data-aos="zoom-in" data-aos-duration="1000"><aside><img class="lazyload" src="~/Template/images/about/t1.jpg" alt="Team" /></aside></li>
                        <li data-aos="zoom-out" data-aos-duration="1000"><aside><img class="lazyload" src="~/Template/images/about/t2.jpg" alt="Team" /></aside></li>
                        <li data-aos="zoom-in" data-aos-duration="1000"><aside><img class="lazyload" src="~/Template/images/about/t3.jpg" alt="Team" /></aside></li>
                        <li data-aos="zoom-out" data-aos-duration="1000"><aside><img class="lazyload" src="~/Template/images/about/t4.jpg" alt="Team" /></aside></li>
                    </ul>
                    <ul>
                        <li data-aos="flip-up" data-aos-duration="1000"><aside><img class="lazyload" src="~/Template/images/about/t5.jpg" alt="Team" /></aside></li>
                        <li data-aos="flip-right" data-aos-duration="1000"><aside><img class="lazyload" src="~/Template/images/about/t6.jpg" alt="Team" /></aside></li>
                        <li data-aos="flip-up" data-aos-duration="1000"><aside><img class="lazyload" src="~/Template/images/about/t7.jpg" alt="Team" /></aside></li>
                        <li data-aos="flip-right" data-aos-duration="1000"><aside><img class="lazyload" src="~/Template/images/about/t8.jpg" alt="Team" /></aside></li>
                    </ul>
                    <ul>
                        <li data-aos="zoom-in-up" data-aos-duration="1000"><aside><img class="lazyload" src="~/Template/images/about/t9.jpg" alt="Team" /></aside></li>
                        <li data-aos="zoom-in" data-aos-duration="1000"><aside><img class="lazyload" src="~/Template/images/about/t10.jpg" alt="Team" /></aside></li>
                        <li data-aos="zoom-in-up" data-aos-duration="1000"><aside><img class="lazyload" src="~/Template/images/about/t11.jpg" alt="Team" /></aside></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- account box -->
<section class="account_section pt-2 pb-3 titan">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="inner-box">
                    <h3>Join our Talent Network <span class="d-block">to start your career with us.</span></h3>
                    <div class="read-btn">
                        <a href="JavaScript:;">Join Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- job form -->
<section class="form_section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="job-req row">
                    <div class="col-6 col-sm-12">
                        <div class="talk">
                            <h2>Talk to our experts about your JOB requirements</h2>
                            <p>Contact us and know more about how our experts can help your business grow. Contact us and know more about how our experts can help your business grow. Contact us and know more about how our experts can help your business grow.</p>
                            <p>Contact us and know more about how our experts can help your business grow. Contact us and know more about how our experts can help your business grow.</p>
                            <div class="read-btn"><a href="javascript:;" class="send-msg">Let’s Talk</a></div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-12">
                        <div class="form-fill">
                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control name" placeholder="Name">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control email" placeholder="Email Id">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control phone" placeholder="Phone Number">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control project" placeholder="Describe your project" rows="3"></textarea>
                                </div>
                                <div class="read-btn">
                                    <a href="javascript:;" class="send-msg">Submit</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

