
@{
        ViewBag.Title = "About Us | Our Company - Aegis Recruitment";
        ViewBag.MetaDescription = "Know all the information about our game-changing recruitment platform, our aim, vision, goals, who we are and how we work continuously to drive our mission. ";
        Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Template/css/style.css" rel="stylesheet" />
<link href="~/Template/css/responsive.css" rel="stylesheet" />
<!-- header Section -->
<section class="about_main heading_section">
        <div class="container">
                <div class="row">
                        <div class="col-12">
                                <div class="head-title text-center">
                                        <div class="inner-box">
                                                <h1>About Aegis Recruitments</h1>
                                                <h5 class="f24">Right Opportunity for the Right Candidate</h5>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</section>

<!-- why aegis -->
<section class="why_aegis pt-3 pb-3 titan job-site">
        <div class="container">
                <div class="row">
                        <div class="col-12">
                                <div class="section-header text-center">
                                        <h2>We're not a regular job site. We’re unique & so are you!</h2>
                                        <p>Aegis is a job site for candidates who are actively looking to build and grow their career. Candidates who want to have better work and career opportunities are welcome to apply to the numerous job opportunities that we offer. We value talent and our main motive is to hire the best talent. We want to hire enthusiastic individuals who are passionate about their work because we are very passionate and proud of what we do! </p>
                                </div>
                        </div>
                </div>
                <div class="row">
                        <div class="col-4 col-sm-12 col-lg-4">
                                <div class="inner-box">
                                        <div class="img-box">
                                                <img class="lazyload" src="~/Template/images/thumb/why-aegis/1.png" alt="Why Us" />
                                        </div>
                                        <div class="overlay">
                                                <h4>Platform to empower you grow</h4>
                                                <p></p>
                                        </div>
                                </div>
                        </div>
                        <div class="col-4 col-sm-12 col-lg-4">
                                <div class="inner-box">
                                        <div class="img-box">
                                                <img class="lazyload" src="~/Template/images/thumb/why-aegis/2.png" alt="Why Us" />
                                        </div>
                                        <div class="overlay">
                                                <h4>Building your career in a smart way</h4>
                                                <p>A job at Aegis will help you gain the experience that will allow you to develop your skills. Our team is engaged in improving your skills. If you are ambitious, and you want to get a new job because you want to move ahead in your career, then apply soon. </p>
                                        </div>
                                </div>
                        </div>
                        <div class="col-4 col-sm-12 col-lg-4">
                                <div class="inner-box">
                                        <div class="img-box">
                                                <img class="lazyload" src="~/Template/images/thumb/why-aegis/3.png" alt="Why Us" />
                                        </div>
                                        <div class="overlay">
                                                <h4>Bundle of talent at one place</h4>
                                                <p>We have a high number of talented employees who are genuinely the assets for our organization. We invite new candidates to join our existing pool of brilliant and enthusiastic employees to learn and grow with them. </p>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</section>
<!-- explore -->
<section class="explore about-sidebyside">
        <div class="container-fluid">
                <div class="row">
                        <div class="col-6 col-sm-12">
                                <div class="bg-img1"></div>
                        </div>
                        <div class="col-6 col-sm-12">
                                <div class="inner-box">
                                        <div class="section-header text-center">
                                                <h2>Human Touch Over High-Tech Tools </h2>
                                        </div>
                                        <div class="content text-center">
                                                <p>Although we have invested in the recruitment technology but we sincerely value the involvement of experts in the hiring process. We assess your skills and potential to make the best decision. </p>
                                                
                                        </div>
                                </div>
                        </div>
                </div>
                <div class="row col-revs">
                        <div class="col-6 col-sm-12">
                                <div class="inner-box">
                                        <div class="section-header text-center">
                                                <h2>Flawless Platform that Works Efficiently</h2>
                                        </div>
                                        <div class="content text-center">
                                                <p>Our team has put in a lot of effort in designing a platform that makes it easy for you to find the perfect job. </p>
                                        </div>
                                </div>
                        </div>
                        <div class="col-6 col-sm-12">
                                <div class="bg-img2"></div>
                        </div>
                </div>
                <div class="row">
                        <div class="col-6 col-sm-12">
                                <div class="bg-img3"></div>
                        </div>
                        <div class="col-6 col-sm-12">
                                <div class="inner-box">
                                        <div class="section-header text-center">
                                                <h2>You are more than your resume</h2>
                                        </div>
                                        <div class="content text-center">
                                                <p>Our recruitment experts have designed an interesting recruitment process that helps us get to know your skills, experiences and capabilities more that your resume could tell us. Even though, good resumes make a good impression but we like to learn more about the candidate than just what’s on the resume. </p>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</section>
<!-- our_pepole -->
<section class="our_pepole pt-3 pb-3 titan">
        <div class="container">
                <div class="row">
                        <div class="col-12">
                                <div class="section-header text-center">
                                        <h2>Our People</h2>
                                        <p>Catch a glimpse of the bright minds at Aegis working hard to exceed the expectations. </p>
                                </div>
                        </div>
                </div>
                <div class="row mt-2">
                        <div class="col-12">
                                <div class="team-list">
                                        <ul>
                                                <li data-aos="zoom-in" data-aos-duration="1000"><aside><img class="lazyload" src="~/Template/images/about/t1.jpg" alt="Team" /></aside></li>
                                                <li data-aos="zoom-out" data-aos-duration="1000"><aside><img class="lazyload" src="~/Template/images/about/t2.jpg" alt="Team" /></aside></li>
                                                <li data-aos="zoom-in" data-aos-duration="1000"><aside><img class="lazyload" src="~/Template/images/about/t3.jpg" alt="Team" /></aside></li>
                                                <li data-aos="zoom-out" data-aos-duration="1000"><aside><img class="lazyload" src="~/Template/images/about/t4.jpg" alt="Team" /></aside></li>
                                        </ul>
                                        <ul>
                                                <li data-aos="flip-up" data-aos-duration="1000"><aside><img class="lazyload" src="~/Template/images/about/t5.jpg" alt="Team" /></aside></li>
                                                <li data-aos="flip-right" data-aos-duration="1000"><aside><img class="lazyload" src="~/Template/images/about/t6.jpg" alt="Team" /></aside></li>
                                                <li data-aos="flip-up" data-aos-duration="1000"><aside><img class="lazyload" src="~/Template/images/about/t7.jpg" alt="Team" /></aside></li>
                                                <li data-aos="flip-right" data-aos-duration="1000"><aside><img class="lazyload" src="~/Template/images/about/t8.jpg" alt="Team" /></aside></li>
                                        </ul>
                                        <ul>
                                                <li data-aos="zoom-in-up" data-aos-duration="1000"><aside><img class="lazyload" src="~/Template/images/about/t9.jpg" alt="Team" /></aside></li>
                                                <li data-aos="zoom-in" data-aos-duration="1000"><aside><img class="lazyload" src="~/Template/images/about/t10.jpg" alt="Team" /></aside></li>
                                                <li data-aos="zoom-in-up" data-aos-duration="1000"><aside><img class="lazyload" src="~/Template/images/about/t11.jpg" alt="Team" /></aside></li>
                                        </ul>
                                </div>
                        </div>
                </div>
        </div>
</section>
<!-- account box -->
<section class="account_section pt-2 pb-3 titan">
        <div class="container">
                <div class="row">
                        <div class="col-12">
                                <div class="inner-box">
                                        <h3>Join our Talent Network <span class="d-block">to start your career with us.</span></h3>
                                        <div class="read-btn">
                                                <a href="JavaScript:;">Join Now</a>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</section>
<!-- job form -->
<section class="form_section">
        <div class="container">
                <div class="row">
                        <div class="col-12">
                                <div class="job-req row">
                                        <div class="col-6 col-sm-12">
                                                <div class="talk">
                                                        <h2>Talk to our experts about your JOB requirements</h2>
                                                        <p>Contact us and know more about how our experts can help your business grow. Contact us and know more about how our experts can help your business grow. Contact us and know more about how our experts can help your business grow.</p>
                                                        <p>Contact us and know more about how our experts can help your business grow. Contact us and know more about how our experts can help your business grow.</p>
                                                        <div class="read-btn"><a href="#" class="send-msg">Let’s Talk</a></div>
                                                </div>
                                        </div>
                                        <div class="col-6 col-sm-12">
                                                <div class="form-fill" id="ContectUsDiv">
                                                        <form>
                                                                <div class="form-group" style="margin-bottom:24px;">
                                                                        <input type="text" class="form-control name" placeholder="Name" id="name" style="margin-bottom:0px;">
                                                                        <label id="label_error_name" class="errorMessage" style="display:none;">Name is required</label>
                                                                </div>
                                                                <div class="form-group" style="margin-bottom:24px;">
                                                                        <input type="email" class="form-control email" placeholder="Email Id" id="email" style="margin-bottom:0px;">
                                                                        <label id="label_error_Email" class="errorMessage" style="display:none;">Email Id is required</label>
                                                                        <label id="label_error_EmailFormat" class="errorMessage" style="display:none;">Email Id is not Valid</label>
                                                                </div>
                                                                <div class="form-group" style="margin-bottom:24px;">
                                                                        <input type="text" class="form-control phone" placeholder="Phone Number" id="mobile" style="margin-bottom:0px;">
                                                                        <label id="label_error_PN" class="errorMessage" style="display:none;">Phone Number is required</label>
                                                                        <label id="label_error_PNFormat" class="errorMessage" style="display:none;">Phone Number is not Valid</label>
                                                                </div>
                                                                <div class="form-group">
                                                                        <textarea class="form-control project" placeholder="Describe your project" rows="3" id="description"></textarea>
                                                                </div>
                                                                <div class="read-btn">
                                                                        <a id="submitData" class="send-msg">Submit</a>
                                                                </div>
                                                        </form>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</section>
<script>
     $("#ContectUsDiv").on("click", "#submitData", function () {
        var name = $("#ContectUsDiv").find("#name").val();
        var email = $("#ContectUsDiv").find("#email").val();
        var mobile = $("#ContectUsDiv").find("#mobile").val();
        var description = $("#ContectUsDiv").find("#description").val();

        var IsError = false;

        if (name == null || name == "") {
            IsError = true;
            $("#ContectUsDiv").find("#label_error_name").show();
        }

        if (email == null || email == "") {
            IsError = true;
            $("#ContectUsDiv").find("#label_error_Email").show();
        } else if (!EmailValidation(email)) {
            IsError = true;
            $("#ContectUsDiv").find("#label_error_EmailFormat").show();
        }

        if (mobile == null || mobile == "") {
            IsError = true;
            $("#ContectUsDiv").find("#label_error_PN").show();
        } else if (!PhoneNumberValidation(mobile)) {
            IsError = true;
            $("#ContectUsDiv").find("#label_error_PNFormat").show();
        }

        if (IsError == true) {
            return false;
        } else {
            $.ajax({
                type: "POST",
                url: '@Url.Action("SaveContectData", "Home")',
                data: {
                    Name: name,
                    Email: email,
                    Mobile: mobile,
                    Description: description
                },
                success: function (result) {
                        if (result == "Success") {
                                $("#ContectUsDiv").find("#name").val("");
                                $("#ContectUsDiv").find("#email").val("");
                                $("#ContectUsDiv").find("#mobile").val("");
                                $("#ContectUsDiv").find("#description").val("");

                                $("#alert_inquiry_success").html("Inquiry genrated successfully");
                                $("#alert_inquiry_success").show();
                                setTimeout(function () { $("#alert_inquiry_success").hide(); }, 2000);
                        }
                        else {
                                $("#ContectUsDiv").find("#name").val("");
                                $("#ContectUsDiv").find("#email").val("");
                                $("#ContectUsDiv").find("#mobile").val("");
                                $("#ContectUsDiv").find("#description").val("");

                                $("#alert_inquiry_error").html("Error, Please try again after some time.");
                                $("#alert_inquiry_error").show();
                                $(".closeInquiry").click();
                                setTimeout(function () { $("#alert_inquiry_error").hide(); }, 2000);
                        }
                }
            });
        }
    });
</script>
