@model CONSTRUCTION.Areas.Admin.Model.JobQualicationViewModel

<input type="hidden" id="txt_Id" value="@Model.Id" />
<div class="row formGroup">
    <div class="col-sm-6">
        <label>Qualification :<span style="color:red">*</span></label>
        <input type="text" id="txt_Qualification" value="@Model.Qualification" placeholder="Qualification" class="form-control" />
        <label id="label_error_qualification" class="errorMessage" style="display:none;">Qualification is required</label>
    </div>
</div>