
@{
    ViewBag.Title = "Index";
}

<!-- heading section -->
<section class="heading pt-3 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-header text-center">
                    <h1>Recent most popular jobs</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- show list -->
<section class="show_list pt-3 pb-3 titan">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-header text-center">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12">
                <div class="job-list">
                    <div class="job-bar">
                        <div class="total-job">
                            <p>1 - 5 of 20 Jobs In Rajkot</p>
                        </div>
                        <div class="right-sorting">
                            <div class="job-sorting">
                                <nav class="search_sorting">
                                    <a class="dropdown-toggle" href="JavaScript:;" data-toggle="dropdown"> Sort by: Recommended <i class="fa fa-angle-down"></i></a>
                                    <ul class="dropdown" style="display: none;">
                                        <li class="sorting_option">
                                            <a class="search_sorting" data-meta-key="eagle_booking_mtb_room_price_min" data-order="ASC">Sort by: Lowest Price</a>
                                        </li>
                                        <li class="sorting_option">
                                            <a class="search_sorting" data-meta-key="eagle_booking_mtb_room_price_min" data-order="DESC">Sort by: Highest Price</a>
                                        </li>
                                        <li class="sorting_option">
                                            <a class="search_sorting" data-meta-key="" data-order="">Sort by: Default</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="job-details">
                        <div class="tab-box">
                            <div class="tech-name col-4">
                                <p>Min Stack Developer and Cloud Technology Proggrammer</p>
                            </div>
                            <div class="exp col-2">
                                <p>6-8 Years</p>
                            </div>
                            <div class="location col-2">
                                <p>Rajkot, Gujarat, India.</p>
                            </div>
                            <div class="time col-2">
                                <p>25/06/2021</p>
                            </div>
                            <div class="action col-2">
                                <a href="refer.html">Refer a friend</a>
                                <a href="apply.html">Apply Now</a>
                            </div>
                        </div>
                        <div class="tab-box">
                            <div class="tech-name col-4">
                                <p>Cloud Technology & Data System Technology Expert</p>
                            </div>
                            <div class="exp col-2">
                                <p>4-6 Years</p>
                            </div>
                            <div class="location col-2">
                                <p>Rajkot, Gujarat, India.</p>
                            </div>
                            <div class="time col-2">
                                <p>25/06/2021</p>
                            </div>
                            <div class="action col-2">
                                <a href="refer.html">Refer a friend</a>
                                <a href="apply.html">Apply Now</a>
                            </div>
                        </div>
                        <div class="tab-box">
                            <div class="tech-name col-4">
                                <p>Robotic Process Automation and Cloud Technology Proggrammer</p>
                            </div>
                            <div class="exp col-2">
                                <p>8 Years</p>
                            </div>
                            <div class="location col-2">
                                <p>Rajkot, Gujarat, India.</p>
                            </div>
                            <div class="time col-2">
                                <p>25/06/2021</p>
                            </div>
                            <div class="action col-2">
                                <a href="refer.html">Refer a friend</a>
                                <a href="apply.html">Apply Now</a>
                            </div>
                        </div>
                        <div class="tab-box">
                            <div class="tech-name col-4">
                                <p>Min Stack and Unified governance and integration</p>
                            </div>
                            <div class="exp col-2">
                                <p>3-5 Years</p>
                            </div>
                            <div class="location col-2">
                                <p>Rajkot, Gujarat, India.</p>
                            </div>
                            <div class="time col-2">
                                <p>25/06/2021</p>
                            </div>
                            <div class="action col-2">
                                <a href="refer.html">Refer a friend</a>
                                <a href="apply.html">Apply Now</a>
                            </div>
                        </div>
                        <div class="tab-box">
                            <div class="tech-name col-4">
                                <p>Event-driven Analytics and Cloud Technology Proggrammer</p>
                            </div>
                            <div class="exp col-2">
                                <p>1-2 Years</p>
                            </div>
                            <div class="location col-2">
                                <p>Rajkot, Gujarat, India.</p>
                            </div>
                            <div class="time col-2">
                                <p>25/06/2021</p>
                            </div>
                            <div class="action col-2">
                                <a href="refer.html">Refer a friend</a>
                                <a href="apply.html">Apply Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom-info mt-3">
                    <nav>
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="content text-center mt-3">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

