
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Template/css/style.css" rel="stylesheet" />
<link href="~/Template/css/responsive.css" rel="stylesheet" />
<!-- header Section -->
<section class="students_graduates heading_section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="head-title text-center">
                    <div class="inner-box">
                        <h1>Students and Graduates</h1>
                        <h5 class="f24">Whether you are a student, new grad or have first years of experience, we'll put you in the game and invest in your career growth and development!</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- why aegis -->
<section class="why_aegis pt-3 pb-2 titan job-site">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-header text-center">
                    <h2>Start Your Success Story</h2>
                    <p>We offers complete job posting services to ensure that your opportunities are seen by qualified candidates. Thousands of new candidates register every week, allowing you to reach the right candidates quickly and affordably. We offers complete job posting services to ensure that your opportunities are seen by qualified candidates. Thousands of new candidates register every week, allowing you to reach the right candidates quickly and affordably.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 col-sm-12 col-lg-4">
                <div class="inner-box">
                    <div class="img-box" data-aos="zoom-in" data-aos-duration="1000">
                        <img class="lazyload" src="~/Template/images/students/1.jpg" alt="Success Story" />
                    </div>
                    <div class="overlay">
                        <h4>Find the Right Job</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has the industry's standard dummy text ever since 1500s.</p>
                    </div>
                </div>
            </div>
            <div class="col-4 col-sm-12 col-lg-4">
                <div class="inner-box">
                    <div class="img-box" data-aos="zoom-out" data-aos-duration="1000">
                        <img class="lazyload" src="~/Template/images/students/2.jpg" alt="Success Story" />
                    </div>
                    <div class="overlay">
                        <h4>Why Start Your Career at Aegis</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has the industry's standard dummy text ever since 1500s.</p>
                    </div>
                </div>
            </div>
            <div class="col-4 col-sm-12 col-lg-4">
                <div class="inner-box">
                    <div class="img-box" data-aos="zoom-in" data-aos-duration="1000">
                        <img class="lazyload" src="~/Template/images/students/3.jpg" alt="Success Story" />
                    </div>
                    <div class="overlay">
                        <h4>Strengthen Your Skills</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has the industry's standard dummy text ever since 1500s.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- account box -->
<section class="second-ac pt-2 pb-3 titan">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="inner-box bg-img2">
                    <div class="row ">
                        <div class="col-9 col-sm-12">
                            <h3>Hire people. Not resumes.</h3>
                            <p>Candidates are human. Your hiring process should be too. Hire talent by their abilities and potential, not just their resume.</p>
                            <div class="read-btn">
                                <a href="JavaScript:;">Join Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- working candidate -->
<section class="canidate pt-3 pb-3 titan">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-header text-center">
                    <h2>What do we look for in a candidate?</h2>
                    <p>We offers complete job posting services to ensure that your opportunities are seen by qualified candidates. Thousands of new candidates register every week, allowing you to reach the right candidates quickly and affordably. We offers complete job posting services to ensure that your opportunities are seen by qualified candidates. Thousands of new candidates register every week, allowing you to reach the right candidates quickly and affordably.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 col-sm-12 col-lg-4">
                <div class="inner-box">
                    <aside><span class="sprite i1"></span></aside>
                    <h4>Innovation</h4>
                    <p>Fascinated by new and emerging technology – and excited to suggest new ideas that disrupt the typical way of thinking.</p>
                </div>
            </div>
            <div class="col-4 col-sm-12 col-lg-4">
                <div class="inner-box">
                    <aside><span class="sprite i2"></span></aside>
                    <h4>Adaptability</h4>
                    <p>Attracted to flexibility, mobility, and new work experiences. Thrives when working across cultures and boundaries.</p>
                </div>
            </div>
            <div class="col-4 col-sm-12 col-lg-4">
                <div class="inner-box">
                    <aside><span class="sprite i3"></span></aside>
                    <h4>Attitude</h4>
                    <p>Ready and willing to take on new challenges. Exhibits enthusiasm and optimism – while still asking critical questions.</p>
                </div>
            </div>
            <div class="col-4 col-sm-12 col-lg-4">
                <div class="inner-box">
                    <aside><span class="sprite i4"></span></aside>
                    <h4>Experience</h4>
                    <p>Has had a variety of experiences, both in study and extracurricular activities – that can be used to assess potential.</p>
                </div>
            </div>
            <div class="col-4 col-sm-12 col-lg-4">
                <div class="inner-box">
                    <aside><span class="sprite i5"></span></aside>
                    <h4>Productivity</h4>
                    <p>Eager to tackle multiple tasks and make an impact on their own team – as well as across the entire SAP organization.</p>
                </div>
            </div>
            <div class="col-4 col-sm-12 col-lg-4">
                <div class="inner-box">
                    <aside><span class="sprite i6"></span></aside>
                    <h4>Leadership</h4>
                    <p>Demonstrates strong leadership skills, inspires others, and provides an exciting way to look at leaders of the future.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Our Culture -->
<section class="join pt-3 pb-3 titan">
    <div class="container pb-2">
        <div class="row">
            <div class="col-12">
                <div class="row main-box">
                    <div class="col-5 col-sm-12 col-lg-5" data-aos="zoom-in" data-aos-duration="1200">
                        <div class="img-box text-center">
                            <img class="lazyload imgshadow" src="~/Template/images/students/students.jpg" alt="Students" />
                        </div>
                    </div>
                    <div class="col-7 col-sm-12 col-lg-7">
                        <div class="content">
                            <div class="section-header">
                                <h2 class="blak_txt">What it means to work here</h2>
                                <p>We believe in “doing first-class business in a first-class way.” That conviction guides how we treat our clients—and how we treat each other. We respect, value and support each individual client and employee. Find out more about the values that drive us forward.</p>
                            </div>
                            <div class="read-btn mt-2">
                                <a href="JavaScript:;" class="btn_width">Join Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- job form -->
<section class="form_section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="job-req row">
                    <div class="col-6 col-sm-12">
                        <div class="talk">
                            <h2>Talk to our experts about your JOB requirements</h2>
                            <p>Contact us and know more about how our experts can help your business grow. Contact us and know more about how our experts can help your business grow. Contact us and know more about how our experts can help your business grow.</p>
                            <p>Contact us and know more about how our experts can help your business grow. Contact us and know more about how our experts can help your business grow.</p>
                            <div class="read-btn"><a href="javascript:;" class="send-msg">Let’s Talk</a></div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-12">
                            <div class="form-fill" id="ContectUsDiv">
                                <form>
                                    <div class="form-group" style="margin-bottom:24px;">
                                        <input type="text" class="form-control name" placeholder="Name" id="name" style="margin-bottom:0px;">
                                        <label id="label_error_name" class="errorMessage" style="display:none;">Name is required</label>
                                    </div>
                                    <div class="form-group" style="margin-bottom:24px;">
                                        <input type="email" class="form-control email" placeholder="Email Id" id="email" style="margin-bottom:0px;">
                                        <label id="label_error_Email" class="errorMessage" style="display:none;">Email Id is required</label>
                                        <label id="label_error_EmailFormat" class="errorMessage" style="display:none;">Email Id is not Valid</label>
                                    </div>
                                    <div class="form-group" style="margin-bottom:24px;">
                                        <input type="text" class="form-control phone" placeholder="Phone Number" id="mobile" style="margin-bottom:0px;">
                                        <label id="label_error_PN" class="errorMessage" style="display:none;">Phone Number is required</label>
                                        <label id="label_error_PNFormat" class="errorMessage" style="display:none;">Phone Number is not Valid</label>
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control project" placeholder="Describe your project" rows="3" id="description"></textarea>
                                    </div>
                                    <div class="read-btn">
                                        <a id="submitData" class="send-msg">Submit</a>
                                    </div>
                                </form>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $("#ContectUsDiv").on("click", "#submitData", function () {
        var name = $("#ContectUsDiv").find("#name").val();
        var email = $("#ContectUsDiv").find("#email").val();
        var mobile = $("#ContectUsDiv").find("#mobile").val();
        var description = $("#ContectUsDiv").find("#description").val();
        debugger

        var IsError = false;

        if (name == null || name == "") {
            IsError = true;
            $("#ContectUsDiv").find("#label_error_name").show();
        }

        if (email == null || email == "") {
            IsError = true;
            $("#ContectUsDiv").find("#label_error_Email").show();
        } else if (!EmailValidation(email)) {
            IsError = true;
            $("#ContectUsDiv").find("#label_error_EmailFormat").show();
        }

        if (mobile == null || mobile == "") {
            IsError = true;
            $("#ContectUsDiv").find("#label_error_PN").show();
        } else if (!PhoneNumberValidation(mobile)) {
            IsError = true;
            $("#ContectUsDiv").find("#label_error_PNFormat").show();
        }

        if (IsError == true) {
            return false;
        } else {
            $.ajax({
                type: "POST",
                url: '@Url.Action("SaveContectData", "Home")',
                data: {
                    Name: name,
                    Email: email,
                    Mobile: mobile,
                    Description: description
                },
                success: function (result) {
                    if (result == "Success") {
                            debugger
                                $("#ContectUsDiv").find("#name").val("");
                                $("#ContectUsDiv").find("#email").val("");
                                $("#ContectUsDiv").find("#mobile").val("");
                                $("#ContectUsDiv").find("#description").val("");

                                $("#alert_inquiry_success").html("Inquiry genrated successfully");
                                $("#alert_inquiry_success").show();
                                setTimeout(function () { $("#alert_inquiry_success").hide(); }, 2000);
                        }
                        else {
                                $("#ContectUsDiv").find("#name").val("");
                                $("#ContectUsDiv").find("#email").val("");
                                $("#ContectUsDiv").find("#mobile").val("");
                                $("#ContectUsDiv").find("#description").val("");

                                $("#alert_inquiry_error").html("Error, Please try again after some time.");
                                $("#alert_inquiry_error").show();
                                $(".closeInquiry").click();
                                setTimeout(function () { $("#alert_inquiry_error").hide(); }, 2000);
                        }
                }
            });
        }
    });
</script>