
@{
        ViewBag.Title = "Students and Graduate Jobs Careers, Internships - Aegis Recruitment";
        ViewBag.MetaDescription = "Are you student or just got the graduate degree? Find out internships and career jobs opportunities at Aegis Recruitment. We have all requirements.";

        Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Template/css/style.css" rel="stylesheet" />
<link href="~/Template/css/responsive.css" rel="stylesheet" />
<!-- header Section -->
<section class="students_graduates heading_section">
        <div class="container">
                <div class="row">
                        <div class="col-12">
                                <div class="head-title text-center">
                                        <div class="inner-box">
                                                <h1>Students and Graduates</h1>
                                                <h5 class="f24">Aegis is committed to onboarding high-potential students and new graduates. We welcome candidates from universities across the globe. Our team is very keen to hire you if you are the right fit and then train you for your career growth! Specially, at the start of your career, you will be requiring the right training and guidance and our experts are all set to mentor you for your success.</h5>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</section>
<!-- why aegis -->
<section class="why_aegis pt-3 pb-2 titan job-site">
        <div class="container">
                <div class="row">
                        <div class="col-12">
                                <div class="section-header text-center">
                                        <h2>Kick-Start Your Success Story Here</h2>
                                        <p>Our inclusive, dynamic and diverse company empowers the young talent to dream big and work hard to fulfil their dreams. This is place where your knowledge is cultivated. Our team deeply focuses on encouraging individuals to be more innovative. </p>
                                </div>
                        </div>
                </div>
                <div class="row">
                        <div class="col-4 col-sm-12 col-lg-4">
                                <div class="inner-box">
                                        <div class="img-box" data-aos="zoom-in" data-aos-duration="1000">
                                                <img class="lazyload" src="~/Template/images/students/1.jpg" alt="Success Story" />
                                        </div>
                                        <div class="overlay">
                                                <h4>Get the Job of Your Dreams </h4>
                                                <p>We encourage you to explore the list of vacancies that we have and apply to the most perfect job for you. Make sure that the job that you apply for gets you closer to where you want to be!</p>
                                        </div>
                                </div>
                        </div>
                        <div class="col-4 col-sm-12 col-lg-4">
                                <div class="inner-box">
                                        <div class="img-box" data-aos="zoom-out" data-aos-duration="1000">
                                                <img class="lazyload" src="~/Template/images/students/2.jpg" alt="Success Story" />
                                        </div>
                                        <div class="overlay">
                                                <h4>Why Start Your Career at Aegis</h4>
                                                <p>For us, talent and growth matter more than anything else. If you have the zeal to grow, we will leave no stone unturned to help you learn the maximum possible while working with us. We offer a comfortable and inspiring work environment where employees are motivated to do their best.  </p>
                                        </div>
                                </div>
                        </div>
                        <div class="col-4 col-sm-12 col-lg-4">
                                <div class="inner-box">
                                        <div class="img-box" data-aos="zoom-in" data-aos-duration="1000">
                                                <img class="lazyload" src="~/Template/images/students/3.jpg" alt="Success Story" />
                                        </div>
                                        <div class="overlay">
                                                <h4>Strengthen Your Skills</h4>
                                                <p>Learn and get mentored from the industry experts. Gain the valuable experience and boost your skills while working with international clients.</p>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</section>
<!-- account box -->
<section class="second-ac pt-2 pb-3 titan">
        <div class="container">
                <div class="row">
                        <div class="col-12">
                                <div class="inner-box bg-img2">
                                        <div class="row ">
                                                <div class="col-9 col-sm-12">
                                                        <h3>Hire people. Not resumes.</h3>
                                                        <p>Candidates are human. Your hiring process should be too. Hire talent by their abilities and potential, not just their resume.</p>
                                                        <div class="read-btn">
                                                                <a href="JavaScript:;">Join Now</a>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</section>
<!-- working candidate -->
<section class="canidate pt-3 pb-3 titan">
        <div class="container">
                <div class="row">
                        <div class="col-12">
                                <div class="section-header text-center">
                                        <h2>What do we look for in a candidate?</h2>
                                        <p>We believe in hiring candidates that have the right skillset, experience, education and talent. Most importantly, we hire candidates who have the spark and passion to achieve their goals. We love people who love to do what they do! If you have the confidence on your skills, we have confidence on you!</p>
                                </div>
                        </div>
                </div>
                <div class="row">
                        <div class="col-4 col-sm-12 col-lg-4">
                                <div class="inner-box">
                                        <aside><span class="sprite i1"></span></aside>
                                        <h4>Innovative Mindset</h4>
                                        <p>Aegis invites applicants intrigued by the emerging technology. If you are always keen and excited to suggest new ideas, this is the place for you! </p>
                                </div>
                        </div>
                        <div class="col-4 col-sm-12 col-lg-4">
                                <div class="inner-box">
                                        <aside><span class="sprite i2"></span></aside>
                                        <h4>Adaptability & Flexibility </h4>
                                        <p>Candidates motivated to adapt to the ever-changing technology landscape and requirements of the clients.</p>
                                </div>
                        </div>
                        <div class="col-4 col-sm-12 col-lg-4">
                                <div class="inner-box">
                                        <aside><span class="sprite i3"></span></aside>
                                        <h4>Right Attitude</h4>
                                        <p>New challenges excite you and bring out the best of you? Do you have the keen eye to look for positives under any circumstances? </p>
                                </div>
                        </div>
                        <div class="col-4 col-sm-12 col-lg-4">
                                <div class="inner-box">
                                        <aside><span class="sprite i4"></span></aside>
                                        <h4>Earnest Experience</h4>
                                        <p>We sincerely value your experience and the learnings that you have gained from your experience. </p>
                                </div>
                        </div>
                        <div class="col-4 col-sm-12 col-lg-4">
                                <div class="inner-box">
                                        <aside><span class="sprite i5"></span></aside>
                                        <h4>Productivity</h4>
                                        <p>Candidates dedicated and committed to take the ownership of their work are sincerely appreciated at Aegis. </p>
                                </div>
                        </div>
                        <div class="col-4 col-sm-12 col-lg-4">
                                <div class="inner-box">
                                        <aside><span class="sprite i6"></span></aside>
                                        <h4>Mentorship Qualities</h4>
                                        <p>Strong leadership skills and the willingness to empower others on the team. </p>
                                </div>
                        </div>
                </div>
        </div>
</section>
<!-- Our Culture -->
<section class="join pt-3 pb-3 titan">
        <div class="container pb-2">
                <div class="row">
                        <div class="col-12">
                                <div class="row main-box">
                                        <div class="col-5 col-sm-12 col-lg-5" data-aos="zoom-in" data-aos-duration="1200">
                                                <div class="img-box text-center">
                                                        <img class="lazyload imgshadow" src="~/Template/images/students/students.jpg" alt="Students" />
                                                </div>
                                        </div>
                                        <div class="col-7 col-sm-12 col-lg-7">
                                                <div class="content">
                                                        <div class="section-header">
                                                                <h2 class="blak_txt">Explore the jobs listed on Aegis and apply soon. </h2>
                                                                <p>We believe in “doing first-class business in a first-class way.” That conviction guides how we treat our clients—and how we treat each other. We respect, value and support each individual client and employee. Find out more about the values that drive us forward.</p>
                                                        </div>
                                                        <div class="read-btn mt-2">
                                                                <a href="JavaScript:;" class="btn_width">Join Now</a>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</section>
<!-- job form -->
<section class="form_section">
        <div class="container">
                <div class="row">
                        <div class="col-12">
                                <div class="job-req row">
                                        <div class="col-6 col-sm-12">
                                                <div class="talk">
                                                        <h2>Talk to our experts about your JOB requirements</h2>
                                                        <p>Contact us and know more about how our experts can help your business grow. Contact us and know more about how our experts can help your business grow. Contact us and know more about how our experts can help your business grow.</p>
                                                        <p>Contact us and know more about how our experts can help your business grow. Contact us and know more about how our experts can help your business grow.</p>
                                                        <div class="read-btn"><a href="javascript:;" class="send-msg">Let’s Talk</a></div>
                                                </div>
                                        </div>
                                        <div class="col-6 col-sm-12">
                                                <div class="form-fill" id="ContectUsDiv">
                                                        <form>
                                                                <div class="form-group" style="margin-bottom:24px;">
                                                                        <input type="text" class="form-control name" placeholder="Name" id="name" style="margin-bottom:0px;">
                                                                        <label id="label_error_name" class="errorMessage" style="display:none;">Name is required</label>
                                                                </div>
                                                                <div class="form-group" style="margin-bottom:24px;">
                                                                        <input type="email" class="form-control email" placeholder="Email Id" id="email" style="margin-bottom:0px;">
                                                                        <label id="label_error_Email" class="errorMessage" style="display:none;">Email Id is required</label>
                                                                        <label id="label_error_EmailFormat" class="errorMessage" style="display:none;">Email Id is not Valid</label>
                                                                </div>
                                                                <div class="form-group" style="margin-bottom:24px;">
                                                                        <input type="text" class="form-control phone" placeholder="Phone Number" id="mobile" style="margin-bottom:0px;">
                                                                        <label id="label_error_PN" class="errorMessage" style="display:none;">Phone Number is required</label>
                                                                        <label id="label_error_PNFormat" class="errorMessage" style="display:none;">Phone Number is not Valid</label>
                                                                </div>
                                                                <div class="form-group">
                                                                        <textarea class="form-control project" placeholder="Describe your project" rows="3" id="description"></textarea>
                                                                </div>
                                                                <div class="read-btn">
                                                                        <a id="submitData" class="send-msg">Submit</a>
                                                                </div>
                                                        </form>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</section>
<script>
    $("#ContectUsDiv").on("click", "#submitData", function () {
        var name = $("#ContectUsDiv").find("#name").val();
        var email = $("#ContectUsDiv").find("#email").val();
        var mobile = $("#ContectUsDiv").find("#mobile").val();
        var description = $("#ContectUsDiv").find("#description").val();
        debugger

        var IsError = false;

        if (name == null || name == "") {
            IsError = true;
            $("#ContectUsDiv").find("#label_error_name").show();
        }

        if (email == null || email == "") {
            IsError = true;
            $("#ContectUsDiv").find("#label_error_Email").show();
        } else if (!EmailValidation(email)) {
            IsError = true;
            $("#ContectUsDiv").find("#label_error_EmailFormat").show();
        }

        if (mobile == null || mobile == "") {
            IsError = true;
            $("#ContectUsDiv").find("#label_error_PN").show();
        } else if (!PhoneNumberValidation(mobile)) {
            IsError = true;
            $("#ContectUsDiv").find("#label_error_PNFormat").show();
        }

        if (IsError == true) {
            return false;
        } else {
            $.ajax({
                type: "POST",
                url: '@Url.Action("SaveContectData", "Home")',
                data: {
                    Name: name,
                    Email: email,
                    Mobile: mobile,
                    Description: description
                },
                success: function (result) {
                    if (result == "Success") {
                                $("#ContectUsDiv").find("#name").val("");
                                $("#ContectUsDiv").find("#email").val("");
                                $("#ContectUsDiv").find("#mobile").val("");
                                $("#ContectUsDiv").find("#description").val("");

                                $("#alert_inquiry_success").html("Inquiry genrated successfully");
                                $("#alert_inquiry_success").show();
                                setTimeout(function () { $("#alert_inquiry_success").hide(); }, 2000);
                        }
                        else {
                                $("#ContectUsDiv").find("#name").val("");
                                $("#ContectUsDiv").find("#email").val("");
                                $("#ContectUsDiv").find("#mobile").val("");
                                $("#ContectUsDiv").find("#description").val("");

                                $("#alert_inquiry_error").html("Error, Please try again after some time.");
                                $("#alert_inquiry_error").show();
                                $(".closeInquiry").click();
                                setTimeout(function () { $("#alert_inquiry_error").hide(); }, 2000);
                        }
                }
            });
        }
    });
</script>