
@{
    ViewBag.Title = "Index";
}

<div class="right-side">
    <div class="heading">Categories</div>

    <div class="data-table style-1">
        <div class="box-table">
            <div class="skill-table">
                <div class="catagory-detail">
                    <div class="catagory-flex1">
                        <div><a href="#" class="add-catagory-btn"><i class="fa fa-plus pr-1" aria-hidden="true"></i> Add</a></div>
                    </div>
                </div>
                <table id="tblMstCategory">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Call</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tr>
                        <td>Dental</td>
                        <td>Dr. Anurag Kashyap</td>
                        <td>dranurag-kashyap@domain.com</td>
                        <td>98765 43210</td>
                        <td class="light-gray text-right d-flex align-items-center">
                            <i class="fa fa-check green ml-3 pr-2" aria-hidden="true"></i> <i class="fa fa-pencil creamy ml-2 pr-2" aria-hidden="true"></i> <i class="fa fa-times red ml-2 pr-2" aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Gynaecology</td>
                        <td>Dr. Rajat Sharma</td>
                        <td>drrajat-sharma@domain.com</td>
                        <td>98765 43210</td>
                        <td class="light-gray text-right d-flex align-items-center">
                            <i class="fa fa-check green ml-3 pr-2" aria-hidden="true"></i> <i class="fa fa-pencil creamy ml-2 pr-2" aria-hidden="true"></i> <i class="fa fa-times red ml-2 pr-2" aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Nursing</td>
                        <td>Dr. Shashi Tharur</td>
                        <td>drshashi-tharur@domain.com</td>
                        <td>98765 43210</td>
                        <td class="light-gray text-right d-flex align-items-center">
                            <i class="fa fa-check green ml-3 pr-2" aria-hidden="true"></i> <i class="fa fa-pencil creamy ml-2 pr-2" aria-hidden="true"></i> <i class="fa fa-times red ml-2 pr-2" aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Pediatrics</td>
                        <td>Dr. Vicky Kaushal</td>
                        <td>drvicky-kaushal@domain.com</td>
                        <td>98765 43210</td>
                        <td class="light-gray text-right d-flex align-items-center">
                            <i class="fa fa-check green ml-3 pr-2" aria-hidden="true"></i> <i class="fa fa-pencil creamy ml-2 pr-2" aria-hidden="true"></i> <i class="fa fa-times red ml-2 pr-2" aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Physician</td>
                        <td>Dr. Sushant Singh</td>
                        <td>drsushant-singh@domain.com</td>
                        <td>98765 43210</td>
                        <td class="light-gray text-right d-flex align-items-center">
                            <i class="fa fa-check green ml-3 pr-2" aria-hidden="true"></i> <i class="fa fa-pencil creamy ml-2 pr-2" aria-hidden="true"></i> <i class="fa fa-times red ml-2 pr-2" aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Sexology</td>
                        <td>Dr. Karan</td>
                        <td>drkaran@domain.com</td>
                        <td>98765 43210</td>
                        <td class="light-gray text-right d-flex align-items-center">
                            <i class="fa fa-check green ml-3 pr-2" aria-hidden="true"></i> <i class="fa fa-pencil creamy ml-2 pr-2" aria-hidden="true"></i> <i class="fa fa-times red ml-2 pr-2" aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Dental</td>
                        <td>Dr. Amit Shah</td>
                        <td>dramit-shah@domain.com</td>
                        <td>98765 43210</td>
                        <td class="light-gray text-right d-flex align-items-center">
                            <i class="fa fa-check green ml-3 pr-2" aria-hidden="true"></i> <i class="fa fa-pencil creamy ml-2 pr-2" aria-hidden="true"></i> <i class="fa fa-times red ml-2 pr-2" aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Gynaecology</td>
                        <td>Dr. Mamta Didi</td>
                        <td>drmamta-didi@domain.com</td>
                        <td>98765 43210</td>
                        <td class="light-gray text-right d-flex align-items-center">
                            <i class="fa fa-check green ml-3 pr-2" aria-hidden="true"></i> <i class="fa fa-pencil creamy ml-2 pr-2" aria-hidden="true"></i> <i class="fa fa-times red ml-2 pr-2" aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Nursing</td>
                        <td>Dr. Sukhvindar Singh</td>
                        <td>drsukhvindar-singh@domain.com</td>
                        <td>98765 43210</td>
                        <td class="light-gray text-right d-flex align-items-center">
                            <i class="fa fa-check green ml-3 pr-2" aria-hidden="true"></i> <i class="fa fa-pencil creamy ml-2 pr-2" aria-hidden="true"></i> <i class="fa fa-times red ml-2 pr-2" aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Pediatrics</td>
                        <td>Dr. Urvashi Chatopadhyay</td>
                        <td>drurvashi-chatopadhyay@domain.com</td>
                        <td>98765 43210</td>
                        <td class="light-gray text-right d-flex align-items-center">
                            <i class="fa fa-check green ml-3 pr-2" aria-hidden="true"></i> <i class="fa fa-pencil creamy ml-2 pr-2" aria-hidden="true"></i> <i class="fa fa-times red ml-2 pr-2" aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Dental</td>
                        <td>Dr. Anurag Kashyap</td>
                        <td>dranurag-kashyap@domain.com</td>
                        <td>98765 43210</td>
                        <td class="light-gray text-right d-flex align-items-center">
                            <i class="fa fa-check green ml-3 pr-2" aria-hidden="true"></i> <i class="fa fa-pencil creamy ml-2 pr-2" aria-hidden="true"></i> <i class="fa fa-times red ml-2 pr-2" aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Gynaecology</td>
                        <td>Dr. Rajat Sharma</td>
                        <td>drrajat-sharma@domain.com</td>
                        <td>98765 43210</td>
                        <td class="light-gray text-right d-flex align-items-center">
                            <i class="fa fa-check green ml-3 pr-2" aria-hidden="true"></i> <i class="fa fa-pencil creamy ml-2 pr-2" aria-hidden="true"></i> <i class="fa fa-times red ml-2 pr-2" aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Nursing</td>
                        <td>Dr. Shashi Tharur</td>
                        <td>drshashi-tharur@domain.com</td>
                        <td>98765 43210</td>
                        <td class="light-gray text-right d-flex align-items-center">
                            <i class="fa fa-check green ml-3 pr-2" aria-hidden="true"></i> <i class="fa fa-pencil creamy ml-2 pr-2" aria-hidden="true"></i> <i class="fa fa-times red ml-2 pr-2" aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Pediatrics</td>
                        <td>Dr. Vicky Kaushal</td>
                        <td>drvicky-kaushal@domain.com</td>
                        <td>98765 43210</td>
                        <td class="light-gray text-right d-flex align-items-center">
                            <i class="fa fa-check green ml-3 pr-2" aria-hidden="true"></i> <i class="fa fa-pencil creamy ml-2 pr-2" aria-hidden="true"></i> <i class="fa fa-times red ml-2 pr-2" aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Physician</td>
                        <td>Dr. Sushant Singh</td>
                        <td>drsushant-singh@domain.com</td>
                        <td>98765 43210</td>
                        <td class="light-gray text-right d-flex align-items-center">
                            <i class="fa fa-check green ml-3 pr-2" aria-hidden="true"></i> <i class="fa fa-pencil creamy ml-2 pr-2" aria-hidden="true"></i> <i class="fa fa-times red ml-2 pr-2" aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Sexology</td>
                        <td>Dr. Karan</td>
                        <td>drkaran@domain.com</td>
                        <td>98765 43210</td>
                        <td class="light-gray text-right d-flex align-items-center">
                            <i class="fa fa-check green ml-3 pr-2" aria-hidden="true"></i> <i class="fa fa-pencil creamy ml-2 pr-2" aria-hidden="true"></i> <i class="fa fa-times red ml-2 pr-2" aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Dental</td>
                        <td>Dr. Amit Shah</td>
                        <td>dramit-shah@domain.com</td>
                        <td>98765 43210</td>
                        <td class="light-gray text-right d-flex align-items-center">
                            <i class="fa fa-check green ml-3 pr-2" aria-hidden="true"></i> <i class="fa fa-pencil creamy ml-2 pr-2" aria-hidden="true"></i> <i class="fa fa-times red ml-2 pr-2" aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Gynaecology</td>
                        <td>Dr. Mamta Didi</td>
                        <td>drmamta-didi@domain.com</td>
                        <td>98765 43210</td>
                        <td class="light-gray text-right d-flex align-items-center">
                            <i class="fa fa-check green ml-3 pr-2" aria-hidden="true"></i> <i class="fa fa-pencil creamy ml-2 pr-2" aria-hidden="true"></i> <i class="fa fa-times red ml-2 pr-2" aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Nursing</td>
                        <td>Dr. Sukhvindar Singh</td>
                        <td>drsukhvindar-singh@domain.com</td>
                        <td>98765 43210</td>
                        <td class="light-gray text-right d-flex align-items-center">
                            <i class="fa fa-check green ml-3 pr-2" aria-hidden="true"></i> <i class="fa fa-pencil creamy ml-2 pr-2" aria-hidden="true"></i> <i class="fa fa-times red ml-2 pr-2" aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Pediatrics</td>
                        <td>Dr. Urvashi Chatopadhyay</td>
                        <td>drurvashi-chatopadhyay@domain.com</td>
                        <td>98765 43210</td>
                        <td class="light-gray text-right d-flex align-items-center">
                            <i class="fa fa-check green ml-3 pr-2" aria-hidden="true"></i> <i class="fa fa-pencil creamy ml-2 pr-2" aria-hidden="true"></i> <i class="fa fa-times red ml-2 pr-2" aria-hidden="true"></i>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>




</div>
@section scripts{
    <script type="text/javascript" src="~/adminAssets/js/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {

            $('#tblMstCategory').DataTable({
                language: {
                    searchPlaceholder: "Search",
                    search: "<button class='btn search-btn2' type='button'><i class='fa fa-search' ></i></button >",
                    "paginate": {
                        "previous": "<i class='fa fa-angle-left' aria-hidden='true'></i>",
                        "next": "<i class='fa fa-angle-right' aria-hidden='true'></i>"
                    }
                },
                columnDefs: [
                    {
                        orderable: false, targets: -1
                    }
                ]
            });


            //LoadTableHeader('tblMstCategory');


        });
    </script>
}