@model CONSTRUCTION.Areas.Admin.Model.SkillMasterViewModel

<input type="hidden" id="txt_Id" value="@Model.Id" />
<div class="row formGroup">
    <div class="col-sm-12">
        <label>Name <span style="color:red">*</span></label>
        <input type="text" id="txt_Name" value="@Model.Name" placeholder="Name" class="form-control" />
        <label id="label_error_Name" class="errorMessage" style="display:none;">Name is required</label>
    </div>
</div>