@model CONSTRUCTION.Areas.Admin.Model.JobEducationViewModel

<input type="hidden" id="txt_Id" value="@Model.Id" />

<div class="row">
    <div class="col-md-12">
        <div class="card profile-card mb-3">
            <div class="card-body">
                <div class="row formGroup">
                    <div class="col-sm-6">
                        <label>Education :<span style="color:red">*</span></label>
                        <input type="text" id="txt_Education" value="@Model.Education" placeholder="Education" class="form-control" />
                        <label id="label_error_education" class="errorMessage" style="display:none;">Education is required</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>