
@{
        ViewBag.Title = "Experienced Professionals Internship and Career Jobs - Aegis Recruitment";
        ViewBag.MetaDescription = "We rely on to provide an equal job opportunity to every individual. Find the experienced professionals internship and career jobs at Aegis Recruitment.";
        Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Template/css/style.css" rel="stylesheet" />
<link href="~/Template/css/responsive.css" rel="stylesheet" />
<section class="professionals heading_section">
        <div class="container">
                <div class="row">
                        <div class="col-12">
                                <div class="head-title text-center">
                                        <div class="inner-box">
                                                <h1>Experienced Professionals</h1>
                                                <h5 class="f24">Aegis is a talent-focused organization with a diverse and inclusive culture. We truly believe that the success of any project or company relies largely on the talent pool of the company, therefore, we want to hire the cream of the industry. </h5>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</section>

<!-- Our Culture -->
<section class="join pt-3 pb-3 titan">
        <div class="container pt-2">
                <div class="row">
                        <div class="col-12">
                                <div class="row main-box">
                                        <div class="col-5 col-sm-12 col-lg-5" data-aos="zoom-in" data-aos-duration="1200">
                                                <div class="img-box text-center">
                                                        <img class="lazyload imgshadow" src="~/Template/images/professionals/1.jpg" alt="Professionals" />
                                                </div>
                                        </div>
                                        <div class="col-7 col-sm-12 col-lg-7">
                                                <div class="content">
                                                        <div class="section-header">
                                                                <h2 class="blak_txt">Our Culture</h2>
                                                                <p>Our values and principles are very important for us. We sincerely believe in equality; therefore, we have several policies in place to enforce the significance of a diverse working culture. Our team fosters a culture of respect for all, despite of their age, experience or gender. We want to make sure that our employees enjoy working with us because happy employees make a great workplace!</p>
                                                        </div>
                                                        <div class="read-btn mt-2">
                                                                <a href="JavaScript:;" class="btn_width">Join Now</a>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</section>

<!-- why aegis -->
<section class="why_aegis pt-3 pb-3 titan job-site">
        <div class="container">
                <div class="row">
                        <div class="col-12">
                                <div class="section-header text-center">
                                        <h2>Never-Ending Growth and Development Opportunities</h2>
                                        <p>All the wonderful individuals working with us are our most important assets. We strive to foster an environment of continuous learning and development for all. </p>
                                </div>
                        </div>
                </div>
                <div class="row">
                        <div class="col-4 col-sm-12 col-lg-4">
                                <div class="inner-box">
                                        <div class="img-box" data-aos="zoom-in" data-aos-duration="1000">
                                                <img class="lazyload" src="~/Template/images/professionals/1.png" alt="Opportunities" />
                                        </div>
                                        <div class="overlay">
                                                <h4>One of the Best Places to Work</h4>
                                                <p>We are one of the best places to work in India because of our earnest intention to genuinely motivate the individuals to learn new things. Our company believes in offering utmost comfort and convenience to our people.  </p>
                                        </div>
                                </div>
                        </div>
                        <div class="col-4 col-sm-12 col-lg-4">
                                <div class="inner-box">
                                        <div class="img-box" data-aos="zoom-out" data-aos-duration="1000">
                                                <img class="lazyload" src="~/Template/images/professionals/2.png" alt="Opportunities" />
                                        </div>
                                        <div class="overlay">
                                                <h4>Equality for All </h4>
                                                <p>Our inclusive workplace practices offer equal opportunities to everyone. </p>
                                        </div>
                                </div>
                        </div>
                        <div class="col-4 col-sm-12 col-lg-4">
                                <div class="inner-box">
                                        <div class="img-box" data-aos="zoom-in" data-aos-duration="1000">
                                                <img class="lazyload" src="~/Template/images/professionals/3.png" alt="Opportunities" />
                                        </div>
                                        <div class="overlay">
                                                <h4>Recognized Firm</h4>
                                                <p>The firm was named as #2 on the list of the Top 50 Best Companies for Latinas to Work for in the U.S.</p>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</section>
<!-- explore -->
<section class="explore about-sidebyside" id="prof-three">
        <div class="container-fluid">
                <div class="row">
                        <div class="col-6 col-sm-12">
                                <div class="bg-img1 bg-propty"></div>
                        </div>
                        <div class="col-6 col-sm-12">
                                <div class="inner-box">
                                        <div class="section-header text-center">
                                                <h2>Get Experience that Matters! </h2>
                                        </div>
                                        <div class="content text-center">
                                                <p>How do you plan to grow in your career? Where are you planning to head now? What are the steps that you want to take to gain success? Do you want to switch to a better technology or a better role? Would you like to work with global clients? Do you want to join an organization that enables you to achieve your goals faster? If yes, then you are at the right place. </p>                                                
                                        </div>
                                </div>
                        </div>
                </div>
                <div class="row col-revs">
                        <div class="col-6 col-sm-12">
                                <div class="inner-box">
                                        <div class="section-header text-center">
                                                <h2>Ready to code your career?</h2>
                                        </div>
                                        <div class="content text-center">
                                                <p>What’s destination next? Is it better technology? A better you? Or a better community of makers? Wherever you desire to go, we give you the tools, the techniques, and the teams to navigate the journey. So you’re inspired to build what’s next, ensure your career never stands still, & navigate further together. Take the world with you.</p>                                                
                                        </div>
                                </div>
                        </div>
                        <div class="col-6 col-sm-12">
                                <div class="bg-img2 bg-propty"></div>
                        </div>
                </div>
                <div class="row">
                        <div class="col-6 col-sm-12">
                                <div class="bg-img3 bg-propty"></div>
                        </div>
                        <div class="col-6 col-sm-12">
                                <div class="inner-box">
                                        <div class="section-header text-center">
                                                <h2>Our Smooth Hiring Process </h2>
                                        </div>
                                        <div class="content text-center">
                                                <p>We only focus on hiring individuals based on their true capabilities and not their CV. We want to hire people who love to do what they do, are good at what they do and want to thrive in their field. Our goal is to onboard enthusiastic individuals who bring a positive vibe to the organization and partner us in the journey to success. Our team loves to hire candidates who are keen to help and mentor others as well. </p>
                                                <p>If you are interested in switching your job, please feel free to apply to the suitable job opportunity. We have a huge list of jobs available for you. Don’t miss the chance to join a thriving group of individuals on a continuous journey to change the world with their tech talent!  </p>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</section>
<!-- account box -->
<section class="second-ac pt-3 pb-3 titan">
        <div class="container">
                <div class="row">
                        <div class="col-12">
                                <div class="inner-box">
                                        <div class="row ">
                                                <div class="col-9 col-sm-12">
                                                        <h3>A Workplace for Everyone</h3>
                                                        <p>A talent-driven company is by definition a diverse and inclusive one. Though we aim to do better still, we're proud of the workplace we've created.</p>
                                                        <div class="read-btn">
                                                                <a href="JavaScript:;">Join Now</a>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</section>
<!-- job form -->
<section class="form_section">
        <div class="container">
                <div class="row">
                        <div class="col-12">
                                <div class="job-req row">
                                        <div class="col-6 col-sm-12">
                                                <div class="talk">
                                                        <h2>Talk to our experts about your JOB requirements</h2>
                                                        <p>Contact us and know more about how our experts can help your business grow. Contact us and know more about how our experts can help your business grow. Contact us and know more about how our experts can help your business grow.</p>
                                                        <p>Contact us and know more about how our experts can help your business grow. Contact us and know more about how our experts can help your business grow.</p>
                                                        <div class="read-btn"><a href="javascript:;" class="send-msg">Let’s Talk</a></div>
                                                </div>
                                        </div>
                                        <div class="col-6 col-sm-12">
                                                <div class="form-fill" id="ContectUsDiv">
                                                        <form>
                                                                <div class="form-group" style="margin-bottom:24px;">
                                                                        <input type="text" class="form-control name" placeholder="Name" id="name" style="margin-bottom:0px;">
                                                                        <label id="label_error_name" class="errorMessage" style="display:none;">Name is required</label>
                                                                </div>
                                                                <div class="form-group" style="margin-bottom:24px;">
                                                                        <input type="email" class="form-control email" placeholder="Email Id" id="email" style="margin-bottom:0px;">
                                                                        <label id="label_error_Email" class="errorMessage" style="display:none;">Email Id is required</label>
                                                                        <label id="label_error_EmailFormat" class="errorMessage" style="display:none;">Email Id is not Valid</label>
                                                                </div>
                                                                <div class="form-group" style="margin-bottom:24px;">
                                                                        <input type="text" class="form-control phone" placeholder="Phone Number" id="mobile" style="margin-bottom:0px;">
                                                                        <label id="label_error_PN" class="errorMessage" style="display:none;">Phone Number is required</label>
                                                                        <label id="label_error_PNFormat" class="errorMessage" style="display:none;">Phone Number is not Valid</label>
                                                                </div>
                                                                <div class="form-group">
                                                                        <textarea class="form-control project" placeholder="Describe your project" rows="3" id="description"></textarea>
                                                                </div>
                                                                <div class="read-btn">
                                                                        <a id="submitData" class="send-msg">Submit</a>
                                                                </div>
                                                        </form>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</section>
<script>
    $("#ContectUsDiv").on("click", "#submitData", function () {
        var name = $("#ContectUsDiv").find("#name").val();
        var email = $("#ContectUsDiv").find("#email").val();
        var mobile = $("#ContectUsDiv").find("#mobile").val();
        var description = $("#ContectUsDiv").find("#description").val();

        var IsError = false;

        if (name == null || name == "") {
            IsError = true;
            $("#ContectUsDiv").find("#label_error_name").show();
        }

        if (email == null || email == "") {
            IsError = true;
            $("#ContectUsDiv").find("#label_error_Email").show();
        } else if (!EmailValidation(email)) {
            IsError = true;
            $("#ContectUsDiv").find("#label_error_EmailFormat").show();
        }

        if (mobile == null || mobile == "") {
            IsError = true;
            $("#ContectUsDiv").find("#label_error_PN").show();
        } else if (!PhoneNumberValidation(mobile)) {
            IsError = true;
            $("#ContectUsDiv").find("#label_error_PNFormat").show();
        }

        if (IsError == true) {
            return false;
        } else {
            $.ajax({
                type: "POST",
                url: '@Url.Action("SaveContectData", "Home")',
                data: {
                    Name: name,
                    Email: email,
                    Mobile: mobile,
                    Description: description
                },
                success: function (result) {
                        if (result == "Success") {
                                $("#ContectUsDiv").find("#name").val("");
                                $("#ContectUsDiv").find("#email").val("");
                                $("#ContectUsDiv").find("#mobile").val("");
                                $("#ContectUsDiv").find("#description").val("");

                                $("#alert_inquiry_success").html("Inquiry genrated successfully");
                                $("#alert_inquiry_success").show();
                                setTimeout(function () { $("#alert_inquiry_success").hide(); }, 2000);
                        }
                        else {
                                $("#ContectUsDiv").find("#name").val("");
                                $("#ContectUsDiv").find("#email").val("");
                                $("#ContectUsDiv").find("#mobile").val("");
                                $("#ContectUsDiv").find("#description").val("");

                                $("#alert_inquiry_error").html("Error, Please try again after some time.");
                                $("#alert_inquiry_error").show();
                                $(".closeInquiry").click();
                                setTimeout(function () { $("#alert_inquiry_error").hide(); }, 2000);
                        }
                }
            });
        }
    });
</script>